doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Salesforce Test App
    #container.col
      p= status
      p
        a(href="/oauth/authorize") Authorize with Salesforce
      if authed
        p
          a(href="/oauth/invalidate") Invalidate Access Token
      p
        a(href="/query") Run a test query