lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.env

pids
logs
results
Procfile

node_modules
npm-debug.log
examples/json
examples/leadOut.json

.DS_Store

env.sh

## typescript output
dist

## 2.0 conversion
test.old

## vscode
.vscode
